doctype html
html(lang="es" class="bg-black text-stone-200 tracking-tight min-h-screen")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="Blog y página web personal sobre temas relacionados con informática. Autor: Sergiy Khudoley")
        link(rel="shortcut icon", href="/static/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="/static/css/style.css")
        title ksergio.com
    body(class="p-5 xl:max-w-2xl mx-auto bg-stone-800 min-h-screen") 
        a(href="/" class="text-white no-underline hover:text-white"): h3(class="text-xl text-white font-extrabold") ksergio<span class="text-yellow-300 font-normal text-sm">.com</span>
        p I love coding
        main(class="my-5")
            block content