extends ./_base

block content
    p Esta es mi página personal de <strong>notas y recordatorios</strong> relacionados con la programación en general, un lugar donde encontrar indicaciones rápidas. ¡No pretende ser algo didáctico!
    ul(class="mt-5") 
        each post in posts
            li: a(href=`/${post.slug}`) #{post.titulo}